.NewIncident-container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    align-items:center;
    justify-content: center;
   
}
.NewIncident-container .content{
    display: flex;
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0 ,0.1);
    border-radius: 8px;

    justify-content: space-between;
    align-items: center;
}

.NewIncident-container .content section{
    width: 100%;
    max-width: 380px;
}

.NewIncident-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.NewIncident-container .content section p{
    font-size: 16px;
    color:#737380;
    line-height: 32px;
}

.NewIncident-container .content form{
    width: 100%;
    max-width: 450px;
}

.NewIncident-container .content form input,
.NewIncident-container .content form textarea{
    margin-top: 8px;
}

